body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightpink rgba(255, 182, 193, 0.5);
}

header {
  text-align: center;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: hotpink;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

#featured-property {
width: 800px;
text-align: center;
}

div {
  float: left;
  border-spacing: 200px;
  background-color: seashell;
  width: 360px;
  text-align: center;
}







